<secret ephemeral='no' private='no'>
  <uuid>{{ libvirt_secret_uuid }}</uuid>
  <usage type='ceph'>
    <name>client.cinder{% if cluster_name != "ceph" %}-{{ cluster_name }}{% endif %} secret</name>
  </usage>
</secret>
